body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body[data-theme='light'] {
    background-image: url("assets/images/light_back.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



.diffSelect {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    margin-top: 10px;
}

.diffSelect > label {
    margin: 0;
    padding: 0;
}

.game-container {
    border: none;
    box-shadow: none;
    text-align: center;
    padding: 20px;
    background: transparent;
    color: white;

}


#maze-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#mazeCanvas {
    background-color: #fff;
    border: 20px solid transparent; 
    padding: 10px;
    background-image: linear-gradient(white, white), 
                    linear-gradient(45deg, #ff5733, #f0c00f, #00d4ff, #28a745);
    background-origin: border-box; 
    background-clip: content-box, border-box; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); 
    border-radius: 20px; 
    transition: all 0.3s ease; 
}

#mazeCanvas:hover {
    box-shadow: 0 0 50px rgba(255, 87, 51, 0.8); 
}

#restartBtn {
    margin-top: 5px;
}

#movesText {
    margin-bottom: 0;
}

#star-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 6em;
    color: gold;
    width: 100%;
    margin-bottom: 0;
    position: absolute;
    top: 23vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1051;
}

#winModal .modal-dialog {
    margin-top: 0;
    position: relative;
}

#mazeCanvas {
    background-color: #fff; 
    border: 2px solid #ccc; 
}

#dark-mode-toggle , #settings-button{
    background-color: #f8f9fa; 
    color: #ffffff;
}

body[data-theme='dark'] {
    color: #e0e0e0; 
    background-image: url("assets/images/dark_back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.game-container[data-theme='dark'] {
    background: transparent;
}

#mazeCanvas[data-theme='dark'] {
    background-color: #333; 
    border: 2px solid #555; 
}

#dark-mode-toggle[data-theme='dark'],
#settings-button[data-theme='dark'] {
    background-color: #444;
    color: #fff;
}

#top-right-controls {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
    z-index: 1001;
}

#dark-mode-toggle,
#settings-button {
    padding: 10px;
    font-size: 1.3em;
    border-radius: 10px;
    border: none;
    color: inherit;
    background-color:#ccc;
    color: black;

}

#dark-mode-toggle:hover,
#settings-button:hover {
    background-color: #666;
}


body[data-theme='dark'] #winModal .modal-content,
body[data-theme='dark'] #settingsModal .modal-content {
    background-color: #444; 
    color: black; 
}

body[data-theme='dark'] .modal-body,
body[data-theme='dark'] .modal-header,
body[data-theme='dark'] .modal-footer {
    color: white;
}
